body {
    display: flex;
    flex-flow: column;
}
#TopContainer {
    height: 25vh;
}
#BottomContainer {
    height: 25vh;
}

#MiddleContainer {
    height: 50vh;
    display: flex;
    flex-flow: row;
    
}
#HeroBio {
    width: 30%;
    padding: 2%;
    height: 100%;
}
#Title {
    height: auto;
    width: auto;
    font-size: 2vw;
    margin-bottom: 10px;
}

#paragraph {
    font-size: 1vw;
    width: 100%;
}

#HeroBig {
    background-image: url(img/q.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20%;
    height: 100%;
    transition: all ease 0.1s;
}
#ImageHero {
    height: 90%;
    margin: 1%;
    border-radius: 100%;
}

#gear {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
}

/*Menu Stuff*/
#Menu {
    position: fixed;
    right: -25vw;
    bottom: 0;
    width: 25vw;
    background-color: grey;
    height: 70vh;
    transition: all ease 0.5s;
    display: flex;
    flex-flow: column;
}
#MenuTop {
    margin: 5%;
    display: flex;
    justify-content: space-between;
    width: 90%;
}
#MenuMiddle {
    display: flex;
    flex-flow: column;
    margin: 5%;
    display: flex;
    width: 90%;
}
#TitleInput {
    height: 30px;
    border: solid black 2px;
    margin-bottom: 20px;
}
#ParaInput {
    height: 30px;
    border: solid black 2px;
}
#MenuButton {
    position: relative;
    margin-left: 65%;
    width: 30%;
    height: 50px;
    background-color: darkgray;
    border: none;
}



